<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Usuários</title>
    <div th:replace="fragments/heads :: heads"></div>
</head>
<body>
<div class="wrapper">
    <!-- Sidebar -->
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <div class="main-header">
            <div class="main-header-logo">
                <!-- Logo Header -->
                <div th:replace="fragments/logo :: logo"></div>
                <!-- End Logo Header -->
            </div>
            <!-- Navbar Header -->
            <div th:replace="fragments/navbar :: navbar"></div>
            <!-- End Navbar -->
        </div>

        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h3 class="fw-bold mb-3">Cadastro de Usuário</h3>

                </div>
                <div class="row">
                    <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <span th:text="${mensagem}"></span>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title">Listagem de Usuários</span>
                                <a
                                        th:href="@{/user/form-inserir}"
                                        class="btn btn-primary"
                                        style="float: right"
                                > Novo Usuário</a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table
                                            id="basic-datatables"
                                            class="display table table-striped table-hover"
                                    >
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Email</th>
                                            <th>Ações</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Email</th>
                                            <th>Ações</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr th:if="${users.empty}">
                                            <td colspan="4">Nenhum registro encontrado</td>
                                        </tr>

                                        <tr th:each="user : ${users}">
                                            <td><span th:text="${user.id}">ID</span></td>
                                            <td><span th:text="${user.firstName}">Nome</span></td>
                                            <td><span th:text="${user.email}">Email</span></td>
                                            <td>
                                                <a th:href="@{/user/form-alterar/{id}(id=${user.id})}"
                                                   class="edit" data-toggle="modal">
                                                    <i class="fa fa-edit" data-toggle="tooltip" title="Alterar"></i>
                                                </a>
                                                <a th:href="@{/user/excluir/{id}(id=${user.id})}"
                                                   th:data-confirm-delete="|Você gostaria de apagar ${user.firstName}?|"
                                                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"

                                                   id="alertDelete"
                                                   class="delete">
                                                    <i class="fa fa-times" style="color: red; margin-left: 10px;"
                                                       data-toggle="tooltip" title="Excluir"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

    </div>

</div>
<div th:replace="fragments/scripts-footer :: scripts-footer"></div>
<div th:replace="~{/fragments/datatables.html :: datatables}"></div>

</body>
</html>